{% extends 'layout.html' %} {% block pageTitle %} Which email address can we use
if we have questions about this census submission? {% endblock %} {% block
beforeContent %}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form
			action="{{ '../check-your-answers.html' if data['from-check'] == 'true' else 'phone.html' }}"
		>
			<h1 class="govuk-heading-xl">
				Which email address can we use if we have questions about this
				submission?
			</h1>

			{{ govukInput ({
                    id: 'email-address',
                    name: 'email-address',
                    value: data['email-address'] if data['email-address'] else '',
                    classes: 'govuk-input--width-20',
                    type: 'email',
                    label: {
                        text: 'Email address',
                        classes: 'govuk-visually-hidden'
                    }
                }) }}

			{{
				govukButton({
					html: 'Continue'
				})
			}}
		</form>
	</div>
</div>

{% endblock %}
