{% extends 'layout.html' %} {% block pageTitle %} Total number of granted
parenting orders {% endblock %} {% block beforeContent %}

{{
	govukPhaseBanner({
		tag: {
			text: 'prototype'
		},
		html: 'This service is in development. Do not submit any real data.'
	})
}}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form
			action="{{ '../check-your-answers.html' if (data['from-check'] == 'true') else '../parenting-contracts/totals.html' }}"
		>
			<h1 class="govuk-heading-xl">
				Number of granted parenting orders that were not implemented because of:
			</h1>

			{{ govukInput ({
                id: 'po-ni-provision',
                name: 'po-ni-provision',
                value: data['po-ni-provision'] if data['po-ni-provision'] else '',
				classes: 'govuk-input--width-5',
				type: 'number',
                label: {
                    text: 'Lack of provision'
                }
            }) }}

			{{ govukInput ({
                id: 'po-ni-parent',
                name: 'po-ni-parent',
                value: data['po-ni-parent'] if data['po-ni-parent'] else '',
				classes: 'govuk-input--width-5',
				type: 'number',
                label: {
                    text: 'Breach by a parent'
                }
			}) }}

			<p>
				<b class="sum-total">0</b> parenting orders were not implemented in
				total.
			</p>

			{{
				govukButton({
					html: 'Continue'
				})
			}}
		</form>
	</div>
</div>

{% endblock %}
