{% extends 'layout.html' %} {% block pageTitle %} Check penalty notices (PNs)
totals {% endblock %} {% set issuedTotal = [data['pns-holidays'],
data['pns-late'], data['pns-other']] | stringSum %} {% set paidTotal =
[data['pns-paid-21'], data['pns-paid-22-28']] | stringSum %} {% set
withdrawnTotal = [data['pns-withdrawn-terms'], data['pns-withdrawn-person'],
data['pns-withdrawn-errors'], data['pns-withdrawn-s444']] | stringSum %} {% set
prosecutedTotal = [data['pns-prosecuted']] | stringSum %} {% set resolvedTotal =
[paidTotal, withdrawnTotal, prosecutedTotal] | stringSum %} {% set
unresolvedCount = [data['pns-unresolved']] | stringSum %} {% set balance =
[issuedTotal, '-'+resolvedTotal] | stringSum %} 

{% set hasError = data['queryError'] == 'true' %}

{% block beforeContent %}

{{
	govukPhaseBanner({
		tag: {
			text: 'prototype'
		},
		html: 'This service is in development. Do not submit any real data.'
	})
}}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form
			action="/validate-queries"
			method="post"
		>

		<input type="hidden" name="success-page" value="{{ '#root#/check-your-answers.html' if data['from-check'] == 'true' else '#root#/task-list.html?pn-completed=true' }}">

			{% if hasError %}

				{{ govukErrorSummary({
					titleText: 'There is a problem',
					errorList: [
						{
							text: 'You must give a reason why the number of actioned or unresolved penalty notices does not match the number issued',
							href: '#p-lodged-query-all-error'
						}
					]
				}) }}

			{% endif %}

			<h1 class="govuk-heading-xl">
				Check the total number of actioned or unresolved penalty notices against how many were issued
			</h1>

			{{
				govukSummaryList({
					classes: 'govuk-!-margin-bottom-7',
					rows: [
						{
							key: {
								text: 'Paid'
							},
							value: {
								text: paidTotal | friendlyNumber
							},
							actions: {
								items: [
									{
										text: 'Change',
										href: 'paid-notices.html?from-total=true',
										classes: 'govuk-link--no-visited-state',
										visuallyHiddenText: 'the number of paid penalty notices'
									}
								]
							}
						},
						{
							key: {
								text: 'Prosecuted'
							},
							value: {
								text: prosecutedTotal | friendlyNumber
							},
							actions: {
								items: [
									{
										text: 'Change',
										href: 'prosecuted.html?from-total=true',
										classes: 'govuk-link--no-visited-state',
										visuallyHiddenText:
											'the number of prosecuted penalty notices'
									}
								]
							}
						},
						{
							key: {
								text: 'Withdrawn'
							},
							value: {
								text: withdrawnTotal | friendlyNumber
							},
							actions: {
								items: [
									{
										text: 'Change',
										href: 'withdrawn.html?from-total=true',
										classes: 'govuk-link--no-visited-state',
										visuallyHiddenText:
											'the number of withdrawn penalty notices'
									}
								]
							}
						},
						{
							key: {
								text: 'Unresolved'
							},
							value: {
								text: data['pns-unresolved'] | friendlyNumber
							},
							actions: {
								items: [
									{
										text: 'Change',
										href: 'unresolved.html?from-total=true',
										classes: 'govuk-link--no-visited-state',
										visuallyHiddenText:
											'the number of withdrawn penalty notices'
									}
								]
							}
						},
						{
							key: {
								text: 'Total'
							},
							value: {
								text: [resolvedTotal, unresolvedCount]| stringSum | friendlyNumber
							}
						}
					]
				})
			}}

            {{
				govukSummaryList({
					rows: [
						{
							key: {
								text: 'Issued'
							},
							value: {
								text: issuedTotal | friendlyNumber
							},
							actions: {
								items: [
									{
										text: 'Change',
										href: 'notices-issued.html?from-total=true',
										classes: 'govuk-link--no-visited-state',
										visuallyHiddenText: 'the number of issued penalty notices'
									}
								]
							}
						}
					]
				})
			}}

			{% if balance != 0 %}

			{{ govukTextarea ({
                    id: 'pns-unbalanced-reason',
                    name: 'pns-unbalanced-reason',
                    value: data['pns-unbalanced-reason'] if data['pns-unbalanced-reason'] else '',
					errorMessage: {
						text: 'You must give a reason why the number of actioned or unresolved penalty notices does not match the number issued'
					} if hasError,
                    label: {
                        text: 'Why does the number of actioned or unresolved penalty notices not match the number issued?'
                    }
                }) }}

			{% endif %} 
			
			{% if unresolvedCount >= 0 %}

			{{
				govukButton({
					html: 'Continue'
				})
			}}

			{% endif %}
		</form>
	</div>
</div>

{% endblock %}
