{% extends 'layout.html' %} {% block pageTitle %} Penalty notices issued {%
endblock %} {% block beforeContent %}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form
			action="{{ 'totals.html' if data['from-total'] == 'true' else 'paid-notices.html' }}"
		>
			<h1 class="govuk-heading-xl">
				Total number of penalty notices issued where the main reason was;
			</h1>

			{{ govukInput ({
                id: 'pns-holidays',
                name: 'pns-holidays',
                value: data['pns-holidays'] if data['pns-holidays'] else '',
                classes: 'govuk-input--width-5',
                type: 'number',
                label: {
                    text: 'Unauthorised family holiday'
                }
            }) }}

			{{ govukInput ({
                id: 'pns-late',
                name: 'pns-late',
                value: data['pns-late'] if data['pns-late'] else '',
                classes: 'govuk-input--width-5',
                type: 'number',
                label: {
                    text: 'Arriving late'
                }
            }) }}

			{{ govukInput ({
                id: 'pns-other',
                name: 'pns-other',
                value: data['pns-other'] if data['pns-other'] else '',
                classes: 'govuk-input--width-5',
                type: 'number',
                label: {
                    text: 'Other unauthorised circumstances'
                }
            }) }}

			{{
				govukButton({
					html: 'Continue'
				})
			}}
		</form>
	</div>
</div>

{% endblock %}
