{% extends 'layout.html' %} {% block pageTitle %} Check penalty notices (PNs)
totals {% endblock %}

{% set issuedTotal = [data['pns-holidays'], data['pns-late'], data['pns-other']] | stringSum %}
{% set paidTotal = [data['pns-paid-21'], data['pns-paid-22-28']] | stringSum %}
{% set withdrawnTotal = [data['pns-withdrawn-terms'], data['pns-withdrawn-person'], data['pns-withdrawn-errors'], data['pns-withdrawn-s444']] | stringSum %}
{% set prosecutedTotal = [data['pns-prosecuted']] | stringSum %}
{% set resolvedTotal = [paidTotal, withdrawnTotal, prosecutedTotal] | stringSum %}
{% set unresolvedCount = [data['pns-unresolved']] | stringSum %}
{% set balance = [issuedTotal, '-'+resolvedTotal] | stringSum %}

{% block beforeContent %}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<form action="{{ '../check-your-answers.html' if data['from-check'] == 'true' else '../case-management/cases.html' }}">
			<h1 class="govuk-heading-xl">
				Check the total number of penalty notices that were issued, paid, led to prosecution or withdrawn
            </h1>

            <h2 class="govuk-heading-m">Issued penalty notices</h2>
            
            {{ govukSummaryList ({
                rows: [
                    {
                        key: {
                            text: 'Issued'
                        },
                        value: {
                            text: issuedTotal | friendlyNumber
                        },
                        actions: {
                            items: [
                                {
                                    text: 'Change',
                                    href: 'notices-issued.html?from-total=true',
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: 'the number of issued penalty notices'
                                }
                            ]
                        }
                    }
                ]
            }) }}

            <h2 class="govuk-heading-m">Penalty notices by status</h2>

            {{ govukSummaryList ({
                rows: [
                    {
                        key: {
                            text: 'Paid'
                        },
                        value: {
                            text: paidTotal | friendlyNumber
                        },
                        actions: {
                            items: [
                                {
                                    text: 'Change',
                                    href: 'paid-notices.html?from-total=true',
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: 'the number of paid penalty notices'
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: 'Prosecuted'
                        },
                        value: {
                            text: prosecutedTotal | friendlyNumber
                        },
                        actions: {
                            items: [
                                {
                                    text: 'Change',
                                    href: 'prosecuted.html?from-total=true',
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: 'the number of prosecuted penalty notices'
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: 'Withdrawn'
                        },
                        value: {
                            text: withdrawnTotal | friendlyNumber
                        },
                        actions: {
                            items: [
                                {
                                    text: 'Change',
                                    href: 'withdrawn.html?from-total=true',
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: 'the number of withdrawn penalty notices'
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: 'Unresolved'
                        },
                        value: {
                            text: data['pns-unresolved'] | friendlyNumber
                        },
                        actions: {
                            items: [
                                {
                                    text: 'Change',
                                    href: 'unresolved.html?from-total=true',
                                    classes: 'govuk-link--no-visited-state',
                                    visuallyHiddenText: 'the number of withdrawn penalty notices'
                                }
                            ]
                        }
                    },
                    {
                        key: {
                            text: 'Total'
                        },
                        value: {
                            text: (resolvedTotal + unresolvedCount) | friendlyNumber
                        }
                    }
                ] 
            }) }}

            {% if balance != 0 %}

                {{ govukWarningText ({
                    text: 'The number of penalty notices issued does not equal the number that were paid, led to prosecution, withdrawn or unresolved',
                    iconFallbackText: 'Query'
                }) }}

                {{ govukTextarea ({
                    id: 'pns-unbalanced-reason',
                    name: 'pns-unbalanced-reason',
                    value: data['pns-unbalanced-reason'] if data['pns-unbalanced-reason'] else '',
                    label: {
                        text: 'Give a reason why the number of penalty notices issued does not equal the amount that were paid, led to prosecution, withdrawn or unresolved'
                    }
                }) }}

            {% endif %}

            {% if unresolvedCount >= 0 %}

                {{ govukButton ({
                    html: 'Continue'
                }) }}

            {% endif %}
        

		</form>
	</div>
</div>

{% endblock %}
