{% extends 'layout.html' %} {% block pageTitle %} Total number of parenting
contracts offered {% endblock %} {% block beforeContent %}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="../education-supervision/totals.html">
			<h1 class="govuk-heading-xl">
				Total number of parenting contracts that were;
			</h1>

			{{ govukInput ({
                    id: 'pc-offered',
                    name: 'pc-offered',
                    value: data['pc-offered'] if data['pc-offered'] else '',
                    classes: 'govuk-input--width-5',
                    label: {
                        text: 'Offered to parents'
                    }
                }) }}

			{{ govukInput ({
                    id: 'pc-accepted',
                    name: 'pc-accepted',
                    value: data['pc-accepted'] if data['pc-accepted'] else '',
                    classes: 'govuk-input--width-5',
                    label: {
                        text: 'Accepted by parents'
                    }
                }) }}

			{{
				govukButton({
					html: 'Continue'
				})
			}}
		</form>
	</div>
</div>

{% endblock %}
