{% extends 'layout.html' %} {% block pageTitle %} Other reasons for withdrawal
of attendance management cases {% endblock %} {% set hasError =
data['queryError'] == 'true' %} {% block beforeContent %}

{{
	govukBackLink({
		text: 'Back',
		href: 'javascript:history.back()'
	})
}}

{% endblock %} {% block content %} {% if (data['att-withdrawn-other'] == null)
or (data['att-withdrawn-other'] | int == 0) or (data['att-withdrawn-other'] ==
'') %}

<script>
	window.location.href =
		"{{ '../check-your-answers.html' if data['from-check'] == 'true' else 'totals.html' }}"
</script>

{% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="/validate-queries" method="post">
			<input
				type="hidden"
				name="success-page"
				value="{{ '#root#/check-your-answers.html' if data['from-check'] == 'true' else '#root#/case-management/totals.html' }}"
			/>

			{% if data['att-withdrawn-other'] | int > 1 %} {% if hasError %}

			{{ govukErrorSummary({
					titleText: 'There is a problem',
					errorList: [
						{
							text: 'You must tell us the reasons for the withdrawal of the
				' + data['att-withdrawn-other'] | friendlyNumber + ' stated attendance
				management cases',
							href: '#att-withdrawn-reason-error'
						}
					]
				}) }}

			{% endif %}

			<h1 class="govuk-heading-xl">
				Tell us the reasons for the withdrawal of the
				{{ data['att-withdrawn-other'] | friendlyNumber }} stated attendance
				management cases
			</h1>

			{{ govukTextarea ({
                id: 'att-withdrawn-reason',
                name: 'att-withdrawn-reason',
                value: data['att-withdrawn-reason'] if data['att-withdrawn-reason'] else '',
				errorMessage: {
					text: 'You must tell us the reasons for the withdrawal of the
				' + data['att-withdrawn-other'] | friendlyNumber + ' stated attendance
				management cases'
				} if hasError,
                label: {
                    text: 'Reasons for withdrawal' + 's' if data['att-withdrawn-other'] | int > 1,
                    classes: 'govuk-visually-hidden'
                }
            }) }}

			{% else %} {% if hasError %}

			{{
				govukErrorSummary({
					titleText: 'There is a problem',
					errorList: [
						{
							text:
								'You must tell us the reason for the withdrawal of the stated attendance
				management case',
							href: '#att-withdrawn-reason-error'
						}
					]
				})
			}}

			{% endif %}

			<h1 class="govuk-heading-xl">
				Tell us the reason for the withdrawal of the stated attendance
				management case
			</h1>

			{{ govukTextarea ({
                id: 'att-withdrawn-reason',
                name: 'att-withdrawn-reason',
                value: data['att-withdrawn-reason'] if data['att-withdrawn-reason'] else '',
				errorMessage: {
					text: 'You must tell us the reason for the withdrawal of the stated attendance
				management case'
				} if hasError,
                label: {
                    text: 'Reasons for withdrawal' + 's' if data['att-withdrawn-other'] | int > 1,
                    classes: 'govuk-visually-hidden'
                }
            }) }}

			{% endif %}

			{{
				govukButton({
					html: 'Continue'
				})
			}}

			<p>
				<a href="withdrawn" class="govuk-link--no-visited-state"
					>Change the number of attendance management cases that were
					withdrawn</a
				>
			</p>
		</form>
	</div>
</div>

{% endblock %}
