{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %} {% block pageTitle %} Task list
{% endblock %} {% block content %}

{% if (data['pc-offered'] | int) <
(data['pc-accepted'] | int) %}

<script>
	window.location.href = 'parenting-contracts/totals.html?pc-error=true'
</script>

{% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{ serviceName }}
		</h1>

        {% set totalSections = 0 %}
        {% set completedSections = 0 %}

		<ol class="app-task-list">
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">1. </span> Tell us about penalty notices
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a
							class="app-task-list__task-name govuk-link--no-visited-state"
							href="{{ 'penalty-notices/totals.html' if data['pn-completed'] == 'true' else 'penalty-notices/notices-issued.html?from-check=false&from-total=false' }}"
							aria-describedby="eligibility-completed"
						>
							Lodged, actioned and unresolved penalty notices
                        </a>
                        {% set totalSections = totalSections + 1 %}
                        {% if data['pn-completed'] == 'true' %}
                        {% set completedSections = completedSections + 1 %}
						<strong
							class="govuk-tag app-task-list__task-completed"
							id="eligibility-completed"
							>Completed</strong
						>
                        {% endif %}
					</li>
				</ul>
			</li>
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">2. </span> Tell us about attendance
					management cases
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a
							class="app-task-list__task-name govuk-link--no-visited-state"
							href="{{ 'case-management/totals.html' if data['amc-completed'] == 'true' else 'case-management/cases.html?from-check=false&from-total=false' }}"
							aria-describedby="company-information-completed"
						>
							Active, prosecuted and withdrawn cases
						</a>
						{% set totalSections = totalSections + 1 %}
                        {% if data['amc-completed'] == 'true' %}
                        {% set completedSections = completedSections + 1 %}
						<strong
							class="govuk-tag app-task-list__task-completed"
							id="eligibility-completed"
							>Completed</strong
						>
                        {% endif %}
					</li>
				</ul>
			</li>
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">3. </span> Tell us about parenting
					orders
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a
							class="app-task-list__task-name govuk-link--no-visited-state"
							href="{{ 'parenting-orders/totals.html' if data['po-completed'] == 'true' else 'parenting-orders/granted.html?from-check=false&from-total=false' }}"
							aria-describedby="company-information-completed"
						>
							Granted, implemented and not implemented orders
						</a>
						{% set totalSections = totalSections + 1 %}
                        {% if data['po-completed'] == 'true' %}
                        {% set completedSections = completedSections + 1 %}
						<strong
							class="govuk-tag app-task-list__task-completed"
							id="eligibility-completed"
							>Completed</strong
						>
                        {% endif %}
					</li>
				</ul>
			</li>
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">4. </span> Tell us about parenting
					contracts
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a
							class="app-task-list__task-name govuk-link--no-visited-state"
							href="parenting-contracts/totals.html"
							aria-describedby="company-information-completed"
						>
							Contracts offered to and accepted by parents
						</a>
						{% set totalSections = totalSections + 1 %}
                        {% if data['pc-completed'] == 'true' %}
                        {% set completedSections = completedSections + 1 %}
						<strong
							class="govuk-tag app-task-list__task-completed"
							id="eligibility-completed"
							>Completed</strong
						>
                        {% endif %}
					</li>
				</ul>
			</li>
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">5. </span> Tell us about education
					supervision orders
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<a
							class="app-task-list__task-name govuk-link--no-visited-state"
							href="education-supervision/totals.html"
							aria-describedby="company-information-completed"
						>
							Orders issued in place of and as well as prosecution
						</a>
						{% set totalSections = totalSections + 1 %}
                        {% if data['eso-completed'] == 'true' %}
                        {% set completedSections = completedSections + 1 %}
						<strong
							class="govuk-tag app-task-list__task-completed"
							id="eligibility-completed"
							>Completed</strong
						>
                        {% endif %}
					</li>
				</ul>
			</li>
		</ol>

        {% if totalSections == completedSections %}

            {{ govukButton ({
                text: 'Continue',
                href: 'contact-details/contact-details.html'
            }) }}

        {% else %}

            <p>
                There {{ 'is' if (totalSections - completedSections) == 1 else 'are' }} {{ totalSections - completedSections }} more section{{ 's' if (totalSections - completedSections) != 1 }} to complete before you can submit this census.
            </p>

        {% endif %}

	</div>
</div>

{% endblock %}
