{% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {%
endblock %} {% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{ serviceName }} prototype
			<span class="govuk-caption-xl"
				>GOV.UK Prototype Kit {{ releaseVersion }}</span
			>
		</h1>

		{{
			govukButton({
				text: 'Open current iteration',
				href: 'iterations/current/start.html',
				classes: 'govuk-button--start'
			})
		}}
	</div>
</div>

{% endblock %}
